.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border-radius: 20px;
  border: 1px solid #0000004d;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background: none;
}

.modal__close-btn {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  /* box-sizing: border-box; */
  width: 100%;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  outline: none;
  margin-bottom: 28px;
  width: 440px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  accent-color: #000;
}

/*FIX DISABLE VERSUS BASE COLOR(#000)*/

.modal__submit {
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  padding: 8px 16px;
  border: none;
  z-index: 1;
}

.modal__submit:hover {
  background-color: #00000099;
}
