.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border-radius: 20px;
  border: 1px solid #0000004d;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background: none;
}

.modal__close-btn {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.modal__content-form {
  background-color: #fff;
  position: relative;
  max-width: 496px;
  width: 100%;
  padding: 28px 28px 36px;
  border-radius: 20px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  outline: none;
  margin-bottom: 15px;
  width: 440px;
}

.modal__error {
  color: #ff4d00;
  font-size: 16px;
  margin-top: 4px;
  display: block;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

input[type="radio"]:checked + label {
  color: black;
}

.modal__label_type_radio:checked {
  color: #000;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #00000080;
  accent-color: #000;
}

.modal__submit {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  padding: 8px 16px;
  border: none;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:active:not(:disabled) {
  background-color: #000;
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal__submit:disabled {
  background-color: #0000004d;
  cursor: not-allowed;
  opacity: 0.5;
}
