.card {
  border: solid 1px #0000004d;
  border-radius: 4px;
  width: 100%;
  max-width: 323px;
  position: relative;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  left: 122px;
  margin: 0;
  border-radius: 4px;
  background-color: #fff;
  height: 24px;
  width: auto;
}

.card__image {
  width: 100%;
}
