.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin: 0 20px 0 auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__nav-link {
  text-decoration: none;
}
.header__username {
  margin: 0;
  color: black;
}
