.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: center;
}
.sidebar__username {
  font-size: 20px;
  font-weight: 700;
}
.sidebar__avatar {
  margin-left: 12px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
